.booking-form {
    display: grid;
    max-width: 400px;
    margin: auto;
    padding: 0px 20%;
    gap: 20px;
}

.booking-form label {
    color: #495e57;
    font-size: 18px;
    font-weight: 600;
}

.booking-form input, .booking-form select {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.booking-form input:focus, .booking-form select:focus {
    outline: none;
    border: 1px solid #f4ce14;
}

#btn-submit {
    display: block;
    margin: 10% auto;
    width: 80%;
    height: 50px;
    background-color: #f4ce14;
    color: #495e57;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-submit:hover {
    background-color: #495e57;
    color: #f4ce14;
}

.error {
    font-size: 0.9rem;
    color: red;
}
